header {
  padding-bottom: 45px;
}

@media screen and (max-width: 700px) {
  .header {
    margin-inline: 50px;
  }

  .logo {
    width: 122px;
    height: 39.5px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    margin-inline: 20px;
  }
}
