.error_title_content {
  margin-inline: auto;
  max-width: 600px;
}

.error_title {
  color: #ff6060;
  font-size: 200px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
  margin-top: 70px;
}

.error_content {
  color: #ff6060;
  margin-bottom: 39px;
}

.error_link {
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .error_title_content {
    max-width: 200px;
  }

  .error_title {
    height: 253px;
    font-size: 96px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .error_content {
    font-size: 16px;
  }
}
